# Build dir
build/
out/
vcpkg_installed/
dependencies/

# Generated Doxygen files (C++ API docs)
docs/doxygen/html/

# Generated Sphinx files (Python API docs)
docs/sphinx/html/

# Python Tools
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
*.pyc

# Python Virtual Envs
.venv/
.venv-sphinx/

.cache/


/demos/unknown-horizons
