language: cpp

sudo: false

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      compiler: clang
    - os: linux
      sudo: required
      dist: trusty
      compiler: gcc
    - os: osx
      compiler: clang
    - os: osx
      compiler: gcc

git:
  depth: 5

addons:
  apt:
    packages:
    - mesa-common-dev
    - swig
    - libsdl2-dev
    - libsdl2-image-dev
    - libsdl2-ttf-dev
    - libfreetype6-dev
    - libxcursor-dev
    - libopenal-dev
    - libasound2-dev
    - zlib1g-dev
    - libboost-dev
    - libboost-regex-dev
    - libboost-system-dev
    - libboost-filesystem-dev
    - libboost-test-dev  

before_install:
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get -qq update && sudo apt-get install -y libgle3-dev liballegro5-dev libvorbis-dev libalut-dev; fi
  - if [ $TRAVIS_OS_NAME == osx ]; then brew update && brew install swig sdl2 sdl2_image sdl2_ttf allegro freetype openal-soft; fi

install:
    - git clone --quiet --depth 1 git://github.com/fifengine/fifechan.git
    # https://github.com/fifengine/fifechan/blob/master/INSTALL.md
    - cd fifechan
    - cmake .
    - make
    - sudo make install
    - cd ..

script:
  #- sudo scons install-python
   - cd ..
   - mkdir build; cd build; cmake ../fifengine
   - ls -alh .
   - make

notifications:
  #irc: "irc.freenode.org#fife"
  email: false
