# Do not search for other config files.
set noparent

# You have 30 inch TFTs at the Google HQ. Stop using 80.
linelength=120
includeorder=standardcfirst

#
# You can list all filters with:
# cpplint --filter=.
# -------------------------------------------------------

# Enabled filters

filter=+build/include_what_you_use
filter=+build/include_alpha

# Disabled filters

# Disable is an unapproved C++XX header warnings
filter=-build/c++11
filter=-build/c++17
filter=-build/header_guard
filter=-build/include_order
filter=-build/include_subdir
filter=-readability/todo
filter=-runtime/references
filter=-runtime/string

filter=-whitespace

# -------------------------------------------------------
# File Excludes
# -------------------------------------------------------

# Using C-style cast.  Use static_cast<uint32_t>(...) instead  [readability/casting]
exclude_files=src/engine/util/time/timer.cpp
# If an else has a brace on one side, it should have it on both  [readability/braces]
exclude_files=src/engine/util/utf8/utf8/checked.h
# Use int16_t/int64_t/etc, rather than the C type short  [runtime/int]
exclude_files=src/engine/util/utf8/utf8/core.h
# Include "glimage.h" not in alphabetical order  [build/include_alpha]
exclude_files=src/engine/video/opengl/renderbackendopengl.cpp
# Include "renderbackendsdl.h" not in alphabetical order  [build/include_alpha]
exclude_files=src/engine/video/sdl/renderbackendsdl.cpp

# Trifunovic UTF-8 Crap
exclude_files=src/engine/util/utf8/utf8/checked.h
exclude_files=src/engine/util/utf8/utf8/core.h
exclude_files=src/engine/util/utf8/utf8/unchecked.h
