# Do not search for other config files.
set noparent

# You have 30 inch TFTs at the Google HQ. Stop using 80.
linelength=120
includeorder=standardcfirst

#
# You can list all filters with:
# cpplint --filter=.
# -------------------------------------------------------

# Disable is an unapproved C++11 header warnings
filter=-build/c++11

filter=+build/include_what_you_use
filter=+build/include_alpha
filter=-build/include_order
filter=-build/include_subdir

filter=-runtime/references

filter=-whitespace
