%module fife
%include "std_string.i"
%include "std_vector.i"
%include "typemaps.i"

namespace std {
	%template(StringVector) vector<std::string>;
	%template(UintVector) vector<unsigned int>;
	%template(IntVector) vector<int>;
	%template(FloatVector) vector<float>;
	%template(DoubleVector) vector<double>;
	%template(BoolVector) vector<bool>;
};

$inclusions

%include engine/swigwrappers/python/extensions.i.templ